(
  resources: {},
  entities: {
    10000000000: ( // Node
      components: {
        "game_core::node::Node": ((
          set: "node:area1",
          num: 0,
        )),
        "game_core::node::Teams": ([
          10000000001,
          10000000002,
        ]),
        "game_core::node::CurrentTurn": (10000000001),
        "game_core::node::rule::AccessPointLoadingRule": Staggered,
        "game_core::node::TeamStatus": ({
          10000000001: Undecided,
          10000000002: Undecided,
        }),
        "game_core::node::ActiveCurio": (None),
        "bevy_core::name::Name": "Demo Node",
        "bevy_hierarchy::components::children::Children": ([
          10000000004,
          10000000005,
          10000000006,
          10000000007,
          10000000008,
          10000000009,
          10000000010,
          10000000011,
        ]),
        "game_core::entity_grid::EntityGrid": (
          shape: "DAAIAA5+fm7w/v7yZ/f39w==",
          entities: {
            10000000004: [ // Mon Pickup
              (2, 2),
            ],
            10000000005: [ // Mon Pickup
              (9, 1),
            ],
            10000000006: [ // Mon Pickup
              (10, 5),
            ],
            10000000007: [ // AP
              (5, 6),
            ],
            10000000008: [ // AP
              (6, 5),
            ],
            10000000009: [ // Watchman
              (1, 2),
            ],
            10000000010: [ // Dog
              (10, 1),
            ],
            10000000011: [ // Sentinel
              (10, 6),
            ],
          },
        ),
      },
    ),
    // TEAMS
    10000000001: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Blue,
        "game_core::node::TeamPhase": Setup,
      },
    ),
    10000000002: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Red,
        "game_core::node::TeamPhase": Play,
      },
    ),
    // ENEMY PLAYER
    10000000003: (
      components: {
        "bevy_core::name::Name": "Enemy",
        "game_core::node::OnTeam": (10000000002),
        "game_core::player::Player": (),
        "game_core::node::IsReadyToGo": (true),
        "game_core::node::InNode": (10000000000),
        "game_core::node::ai::NodeBattleIntelligence": Simple,
      },
    ),
    // PICKUPS
    10000000004: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "pickup:mon",
        ),
        "game_core::node::Pickup": Mon((400)),
        "game_core::card::Description": ("Moneeeeey"),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000005: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "pickup:mon",
        ),
        "game_core::node::Pickup": Mon((1000)),
        "game_core::card::Description": ("Put food on the table, and cards in your deck"),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000006: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "pickup:mon",
        ),
        "game_core::node::Pickup": Mon((1000)),
        "game_core::card::Description": ("Put food on the table, and cards in your deck"),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    // ACCESS POINTS
    10000000007: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (10000000001),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000008: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (10000000001),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    // ENEMY CURIOS
    10000000009: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Enemy",
        ),
        "game_core::node::OnTeam": (10000000002),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Watchman"),
        "game_core::node::ai::SimpleAiCurioOrder": (0),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000010: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Guard Dog",
        ),
        "game_core::node::OnTeam": (10000000002),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Guard Pup"),
        "game_core::node::ai::SimpleAiCurioOrder": (1),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000011: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Attack Dog",
        ),
        "game_core::node::OnTeam": (10000000002),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Sentinel"),
        "game_core::node::ai::SimpleAiCurioOrder": (1),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
  },
)
