(
  resources: {},
  entities: {
    0: ( // Node
      components: {
        "game_core::node::Node": ((
          set: "node:tutorial",
          num: 2,
        )),
        "game_core::node::Teams": ([
          1,
          2,
        ]),
        "game_core::node::CurrentTurn": (1),
        "game_core::node::rule::AccessPointLoadingRule": Staggered,
        "game_core::node::TeamStatus": ({
          1: Undecided,
          2: Undecided,
        }),
        "game_core::node::ActiveCurio": (None),
        "bevy_core::name::Name": (
          hash: 16442562150909729670,
          name: "Demo Node",
        ),
        "bevy_hierarchy::components::children::Children": ([
            4,
            5,
            6,
            7,
        ]),
        "game_core::entity_grid::EntityGrid": (
          shape: "DAAJAIKOv///3527///fHxcE",
          entities: {
            4: [ // AP
              (4, 8),
            ],
            5: [ // AP
              (7, 8),
            ],
            6: [ // Sentinel
              (3, 1),
            ],
            7: [ // Sentinel
              (8, 1),
            ],
          },
        ),
      },
    ),
    // TEAMS
    1: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Blue,
        "game_core::node::TeamPhase": Setup,
      },
    ),
    2: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Red,
        "game_core::node::TeamPhase": Play,
      },
    ),
    // ENEMY PLAYER
    3: (
      components: {
        "bevy_core::name::Name": (
          hash: 7551943587303600895,
          name: "Enemy",
        ),
        "game_core::node::OnTeam": (2),
        "game_core::player::Player": (),
        "game_core::node::IsReadyToGo": (true),
        "game_core::node::InNode": (0),
        "game_core::node::ai::NodeBattleIntelligence": Simple,
      },
    ),
    // PICKUPS
    // ACCESS POINTS
    4: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (1),
        "bevy_hierarchy::components::parent::Parent": (0),
      },
    ),
    5: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (1),
        "bevy_hierarchy::components::parent::Parent": (0),
      },
    ),
    // ENEMY CURIOS
    6: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Enemy",
        ),
        "game_core::node::OnTeam": (2),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Sentinel"),
        "game_core::node::ai::SimpleAiCurioOrder": (0),
        "bevy_hierarchy::components::parent::Parent": (0),
      },
    ),
    7: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Enemy",
        ),
        "game_core::node::OnTeam": (2),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Sentinel"),
        "game_core::node::ai::SimpleAiCurioOrder": (1),
        "bevy_hierarchy::components::parent::Parent": (0),
      },
    ),
  },
)
