(
  resources: {},
  entities: {
    10000000000: ( // Node
      components: {
        "game_core::node::Node": ((
          set: "node:tutorial",
          num: 0,
        )),
        "game_core::node::Teams": ([
          10000000001,
          10000000002,
        ]),
        "game_core::node::CurrentTurn": (10000000001),
        "game_core::node::rule::AccessPointLoadingRule": Staggered,
        "game_core::node::TeamStatus": ({
          10000000001: Undecided,
          10000000002: Undecided,
        }),
        "game_core::node::ActiveCurio": (None),
        "bevy_core::name::Name": "Demo Node",
        "bevy_hierarchy::components::children::Children": ([
          10000000004,
          10000000005,
          10000000006,
        ]),
        "game_core::entity_grid::EntityGrid": (
          shape: "AAoAB////////////A==",
          entities: {
            10000000004: [ // AP
              (2, 2),
            ],
            10000000005: [ // AP
              (3, 4),
            ],
            10000000006: [ // Sentinel
              (6, 2),
              (6, 3),
              (6, 4),
            ],
          },
        ),
      },
    ),
    // TEAMS
    10000000001: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Blue,
        "game_core::node::TeamPhase": Setup,
      },
    ),
    10000000002: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Red,
        "game_core::node::TeamPhase": Play,
      },
    ),
    // ENEMY PLAYER
    10000000003: (
      components: {
        "bevy_core::name::Name": "Enemy",
        "game_core::node::OnTeam": (10000000002),
        "game_core::player::Player": (),
        "game_core::node::IsReadyToGo": (true),
        "game_core::node::InNode": (10000000000),
        "game_core::node::ai::NodeBattleIntelligence": Simple,
      },
    ),
    // ACCESS POINTS
    10000000004: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (10000000001),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    10000000005: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (10000000001),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    // ENEMY CURIOS
    10000000006: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Enemy",
        ),
        "game_core::node::OnTeam": (10000000002),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Sentinel"),
        "game_core::node::ai::SimpleAiCurioOrder": (0),
        "bevy_hierarchy::components::parent::Parent": (10000000000),
      },
    ),
    // VICTORY AWARD
    10000000007: (
      components: {
        "game_core::node::Pickup": Mon((250)),
        "game_core::card::Description": ("Moneeeeey"),
        "game_core::node::VictoryAward": (10000000000)
      },
    ),
  },
)
