(
  resources: {},
  entities: {
    010000000000: ( // Node
      components: {
        "game_core::node::Node": ((
          set: "node:demo",
          num: 0,
        )),
        "game_core::node::Teams": ([
          110000000000,
          210000000000,
        ]),
        "game_core::node::CurrentTurn": (110000000000),
        "game_core::node::rule::AccessPointLoadingRule": Staggered,
        "game_core::node::TeamStatus": ({
          110000000000: Undecided,
          210000000000: Undecided,
        }),
        "game_core::node::ActiveCurio": (None),
        "bevy_core::name::Name": "Demo Node",
        "bevy_hierarchy::components::children::Children": ([
          410000000000,
          510000000000,
          610000000000,
          710000000000,
          810000000000,
          910000000000,
          1010000000000,
        ]),
        "game_core::entity_grid::EntityGrid": (
          shape: "EwALACCAAz7447/vP/7x+AABPh7/+O/7jz/4gAMIAA==",
          entities: {
            410000000000: [ // Card Pickup
              (4, 3),
            ],
            510000000000: [ // Mon Pickup
              (11, 10),
            ],
            610000000000: [ // AP
              (6, 2),
            ],
            710000000000: [ // AP
              (12, 2),
            ],
            810000000000: [ // AP
              (12, 10),
            ],
            910000000000: [ // Warden
              (12, 3),
              (13, 3),
              (14, 3),
              (15, 3),
              (15, 4),
              (15, 5),
              (16, 5),
            ],
            1010000000000: [ // Watchman
              (2, 5),
            ],
          },
        ),
      },
    ),
    // TEAMS
    110000000000: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Blue,
        "game_core::node::TeamPhase": Setup,
      },
    ),
    210000000000: (
      components: {
        "game_core::node::Team": (),
        "game_core::node::TeamColor": Red,
        "game_core::node::TeamPhase": Play,
      },
    ),
    // ENEMY PLAYER
    310000000000: (
      components: {
        "bevy_core::name::Name": "Enemy",
        "game_core::node::OnTeam": (210000000000),
        "game_core::player::Player": (),
        "game_core::node::IsReadyToGo": (true),
        "game_core::node::InNode": (010000000000),
        "game_core::node::ai::NodeBattleIntelligence": Simple,
      },
    ),
    // PICKUPS
    410000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "pickup:card",
        ),
        "game_core::node::Pickup": Card("nightfall/lvl1.cards.json#Bug"),
        "game_core::card::Description": ("A card! Get this card! It\'s a good card! A very good card!"),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    510000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "pickup:mon",
        ),
        "game_core::node::Pickup": Mon((1000)),
        "game_core::card::Description": ("Put food on the table, and cards in your deck"),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    // ACCESS POINTS
    610000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (110000000000),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    710000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (110000000000),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    810000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "env:access_point",
        ),
        "game_core::node::AccessPoint": (
          card: None,
        ),
        "game_core::node::OnTeam": (110000000000),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    // ENEMY CURIOS
    910000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Enemy",
        ),
        "game_core::node::OnTeam": (210000000000),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Warden"),
        "game_core::node::ai::SimpleAiCurioOrder": (0),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
    1010000000000: (
      components: {
        "game_core::node::NodePiece": (
          display_id: "Attack Dog",
        ),
        "game_core::node::OnTeam": (210000000000),
        "game_core::node::CurioFromCard": Path("nightfall/enemies.cards.json#Watchman"),
        "game_core::node::ai::SimpleAiCurioOrder": (1),
        "bevy_hierarchy::components::parent::Parent": (010000000000),
      },
    ),
  },
)
